{% comment %}{% load menu %}{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ global.app_title }} | {% block title %}{% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="{{ STATIC_URL }}binder/js/jquery.multiSelect.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}binder/css/global.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/intranet.css" />
		{% endblock %}
	</head>
	<body class="{% block body_classes %}{% endblock %}">
{% comment %}
		<div id="header">
			<div id="header-inner">
				<h1><a href="/">Generic</a></h1>
				<h2>{{ global.app_title }}</h2>
				<div class="user-access">
				</div>
			</div>
			<div id="access">
				<div id="access-inner">
					<div class="menu-header">
						<ul class="menu">
							{% for m in global.main_menu %}
								{% menu_item 'li' m.url_name m.title %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endcomment %}
		<div id="wrapper">
			<div id="wrapper-inner">
				<div id="content" class="content">
				<div id="aptivate-logo">
					by <img src="/static/images/aptivate-logo.png" title="Aptivate" alt="Aptivate">
				</div>
				<h2 class="page-title">{% block heading %}{% endblock %}</h2>
					{% block body %}
					Default Body
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="footer-inner">Aptivate Log Frame tool is an open source product that can be used by any
				organisation.</div>
		</div>
	</body>
</html> 
